html,
body {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: white;
    color: black;
    min-height: 100%;
}

:root {
    --page-max-width: 1100px;
    --page-width: 92%;
}

*,*:before,*:after {
    box-sizing:inherit;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 0 0 auto;
}

.page-width {
    width: min(var(--page-width), var(--page-max-width));
    margin: 0 auto;
}

main {
    flex: 1 0 auto;
}

.FSHero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:
        radial-gradient(circle at 20% 45%, rgba(0, 102, 255, 0.4), transparent 30%),
        radial-gradient(circle at 42.5% 75%, rgba(102, 0, 255, 0.4), transparent 40%),
        radial-gradient(circle at 70% 30%, rgba(153, 0, 255, 0.4), transparent 30%);
    background-blend-mode: screen;
    filter: blur(120px);
    z-index: 0;
}
