#testCard {
    position: relative;
    width: 100%;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-grow: 1;
    flex:1;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#quoteSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.6;
    color: #ddd;
    text-align: center;
    position: relative;
    padding-left: 1.5rem;
}

#quoteMark {
    font-size: 4rem;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    color: #f59520;
}

#userSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.profileImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.userName {
    font-weight: 600;
    font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
    #testCard {
        padding: 1.5rem;
    }

    #quoteSection .quote {
        font-size: 1rem;
    }
}
